@import "./variables.scss";
@import "./mixins.scss";

.excel__table {
  //background: antiquewhite;
  position: absolute;
  left: 0;
  right: 0;
  top: $headerHeight + $toolbarHeight + $formulaHeight;
  max-height: calc(100vh - (#{$headerHeight} + #{$toolbarHeight} + #{$formulaHeight}));
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 2px;

  & .row {
    display: flex;
    flex-flow: row nowrap;
    min-height: 20px;
    height: $rowHeight;
  }

  & .row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $infoCellWidth;
    height: 100%;
    border: 1px solid $borderColor;
    background-color: #f8f9fa;
    border-top: none;
  }

  & .row-data {
    display: flex;
  }

  & .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    min-width: 40px;
    width: $cellWidth;
    height: 100%;
    border: 1px solid $borderColor;
    border-top: none;
    border-left: none;
  }

  & .cell {
    min-width: 40px;
    width: $cellWidth;
    padding: 5px;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: none;
    border-left: none;
    color: #111;
    white-space: nowrap;
    outline: none;

    &.selected {
      border: none;
      outline: 2px solid $primaryColor;
      z-index: 2;
    }
  }

  & .col-resize, & .row-resize {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1000;
    background-color: $primaryColor;

    &:hover {
      opacity: 1 !important;
    }
  }

  & .col-resize {
    top: 0;
    width: 2px;

    &:hover {
      cursor: col-resize;
    }
  }

  & .row-resize {
    left: 0;
    height: 4px;

    &:hover {
      cursor: row-resize;
    }
  }
}
